* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{background-color:black}

.div4-absoluto {
  position: absolute;
  
  /* right: 1; */
  /* left: 0; */
  /* top: 0; */
  /* bottom: 0;  */
  /* padding: 20px; */
  /* height: 90px; */
  
  /* border: solid 1px rgb(12, 14, 14); */
  background: linear-gradient(to left, transparent, rgb(138, 58, 58));
  /* line-height: 30px; */
  order: 10;
  position: fixed;
  right: 0;
  margin: 90px;
 
}


a{text-decoration: none;}
 main{height: 100vh;
background-color:black;}
    header{
      /* display: flex; */
    /* width: 100%; */
    height :300px
  }
  .titulo{color:brown;
    text-align: center;
  }

    .content{
      /* margin: 110px;   */
      height: 99vh;
  display: grid;
  
  grid-template-columns:repeat(1,minmax(190px, 70%));
  /* grid-template-rows:repeat(auto,minmax(220px, 80px)); */
  background-color: black;
  /* grid-gap: 10px; */
  justify-content: center;
  gap:2em
  }
  .tajeta{
    display: flex;
    /* background-color:rgb(228, 44, 44); */
 /* align-items: center; */
flex-direction: column;
height: 100%;
width: 100%;
justify-content:center;
}
 .imgC{
   flex: 1; 
  
/* width: 1000; */
/* max-height: 100%; */
background-color:rgb(81, 110, 18) ;
/* height: 310px; */
/* min-height: 300px;  */
/* max-width: 100%; */
height: 100;
justify-content:center;
  /* align-self:center; */
}
 .img{
  height: 100%;
width: 100%;
object-fit: cover;

}
.texto{
 
  margin: 0;


 
}
.col-tex{
  display: flex;
  align-self:center;
width: 100%;
/* background-color: blueviolet; */
justify-content:center;
/* overflow: auto;  */

}
/* .col-tex::-webkit-scrollbar{background-color: rgb(0, 0, 0);} */

.texto h2 {
  align-self:flex-end;
font-size: 25px;
color: burlywood;
/* flex: 1; */
}
.texto h3 {
  font-size: 24px;
  color:azure;
  /* flex: 1; */

  padding: 0 1px;
  }
 
  @media screen and (max-width:338px) {
    .texto h2 {
     display: none;
    }

  }

  
  @media screen and (min-width:560px) {
    .content{
       
      height: 99vh;
  display: grid;
  
  grid-template-columns:repeat( 4, minmax(231px,1fr));
  grid-template-rows:repeat( 10, minmax(0.5fr,1fr));
  margin:  0 50px;
  grid-gap: 3em;
  justify-content:center;
  
  
  
  }

  nav{
    /* box-shadow: 10px 20px 600px  2px  rgb(48, 46, 46) ; */
    color: aliceblue;
    display: flex;
    margin: 40px 0;
  }
  .x{flex: 50;}

  nav1 lu{display: flex;
  color: white;
flex:40;
justify-content: space-around;
}
nav1 li{ padding: 10PX;
  list-style: none;
  text-decoration: none;

}
nav li:hover{ 
  /* background-color: brown; */
  border-bottom: solid 5px red;
  transition: 0.5s;
  border-radius: 5px;
   /* outline-color: 11px solid rgb(3, 2, 38) ; */
}
.div4-absoluto {display: none;}

    
  }
