* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{background-color:black}
 main{height: 100vh;
background-color:black;}
    header{display: flex;
    width: 100%;}
    .content{
      /* margin: 110px;   */
      height: 99vh;
  display: grid;
  
  grid-template-columns:repeat(1,minmax(220px, 80%));
  grid-template-rows:repeat(auto,minmax(220px, 300px));
  background-color: black;
  /* grid-gap: 10px; */
  justify-content: center;
  gap:5em
  }
 .imgC{
  flex: 10;
  min-height: 290px; 
width: 100%;
height: 100%;}
 .img{height: 100%;
width: 100%;

object-fit: contain;
align-items:center
}
.texto{
  /* min-height: 200px; */
  display:flex;
  flex-wrap: wrap;
  max-width: 170px;
  /* justify-content:space-around; */
  flex: 1;

  height: 100%;
}
.texto h2 {flex: 1;
font-size: 21px;
color: burlywood;

}
.texto h3 {flex: 1;
  font-size: 18px;
  color:azure
  }
.tajeta{
      display: flex;
      background-color:black;
   align-items: center;
  flex-direction: column;
  }
  @media screen and (min-width:500px) {
    .content{
      margin: 110px;  
      height: 99vh;
  display: grid;
  
  grid-template-columns:repeat(4,170px);
  grid-template-rows:repeat( auto-fill, minmax(250px,200px));
  background-color: black;
  /* grid-gap: 10px; */
  justify-content: center;
  gap:9em
  }

    
  }
  

