* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{background-color:black}
header{text-align: center;}
.nav1 li {display: none;}

a{text-decoration: none;}
ul{ list-style: none;}
.nav2 {
  position: absolute;
  font-size: 24px;
  color:rgb(226, 215, 215);
  /* right: 1; */
  /* left: 0; */
  /* top: 0; */
  /* bottom: 0;  */
  /* padding: 20px; */
  /* height: 90px; */
  
  /* border: solid 1px rgb(12, 14, 14); */
  background: linear-gradient(to left, transparent, rgb(91, 83, 83));
  /* line-height: 30px; */
  order: 10;
  position: fixed;
  right: 0;
  margin: 15px;
  padding: 30px;
  border-radius: 50px;
  text-shadow: 1px 3px 3px rgb(15, 3, 3);
 
}
.nav2 li{ margin: 30px;


}
.fa-solid{color: azure;
background-color }
.nav2 a{ padding: 10PX;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 1px 3px 3px black;

}
.nav2 li a:hover{ 
  /* background-color: brown; */
  border-bottom: solid 5px brown;
  transition: 0.5s;
  border-radius: 5px;
   /* outline-color: 11px solid rgb(3, 2, 38) ; */
}



 main{height: 100vh;
background-color:black;}
    header{
      /* display: flex; */
    /* width: 100%; */
    height :300px
  }
  .cate{ color: azure;
  text-align: center;
  padding-bottom: 100px;
  line-height: 130px;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Exo', sans-serif;
  /* font-weight: 100; */
  font-size: 50px;

}
  
  .titulo{color:brown;
    text-align: center;
    
     font-weight: 900; 

     font-family: 'Zen Dots', cursive;
    font-size: 5em;
    text-shadow: 1px 1px 30px rgb(218, 10, 10);
    letter-spacing: 4px;
  }
 






    .content{
      /* margin: 110px;   */
      height: 99vh;
  display: grid;
  
  grid-template-columns:repeat(1,minmax(190px, 70%));
  /* grid-template-rows:repeat(auto,minmax(220px, 80px)); */
  background-color: black;
  /* grid-gap: 10px; */
  justify-content: center;
  gap:2em
  }
  .tarjeta{
    display: flex;
    /* background-color:rgb(228, 44, 44); */
 /* align-items: center; */
flex-direction: column;
height: 100%;
width: 100%;
justify-content:center;
}
.tarjeta:hover .img {transform:scale(1.1); transition: 1s;}
.imgC:active  {transform:scale(1.2);  height: 100%; width: 100%; transition: 0.1s;}
.imgC {overflow:hidden;}

 .imgC{
   flex: 1; 
  
/* width: 1000; */
/* max-height: 100%; */
background-color:rgb(81, 110, 18) ;
/* height: 310px; */
/* min-height: 300px;  */
/* max-width: 100%; */
height: 100;
justify-content:center;
  /* align-self:center; */
}
 .img{
  height: 100%;
width: 100%;
object-fit: cover;

}
.texto{
 
  margin: 0;


 
}
.col-tex{
  display: flex;
  align-self:center;
width: 100%;
/* background-color: blueviolet; */
justify-content:center;
/* overflow: auto;  */

}
/* .col-tex::-webkit-scrollbar{background-color: rgb(0, 0, 0);} */

.texto h2 {
  align-self:flex-end;
font-size: 25px;
color: burlywood;
font-family:    'Segoe UI';
/* flex: 1; */
}
.texto h3 {
  font-size: 24px;
  color:azure;
  /* flex: 1; */
  font-family:  'Segoe UI';

  padding: 0 1px;
  }
 
  @media screen and (max-width:338px) {
    .texto h2 {
     display: none;
    }

  }

  
  @media screen and (min-width:560px) {
    .content{
       
      height: 99vh;
  display: grid;
  
  grid-template-columns:repeat( 4, minmax(255px,1fr));
  grid-template-rows:repeat( 10, minmax(0.5fr,1fr));
  margin:  0 50px;
  grid-gap: 3em;
  justify-content:center;
  
  
  
  }

  .nav1{
    /* box-shadow: 10px 20px 600px  2px  rgb(48, 46, 46) ; */
   
    display: flex;
    margin: 40px 0;
  }
  .x{flex: 50;}

  .nav1 lu{display: flex;
  
flex:40;
justify-content: space-around;

}

.nav1 ul {display: flex;}
.nav1 li{ padding: 10PX;
  /* background-color: brown; */
padding: 30px;
 margin: 20px;
 
  display: flex;

}
.nav1 a { 
  padding: 25px;
  color: aliceblue;
  text-shadow: 0px 0px 2px  rgb(255, 255, 255) ;
/* font-size: 20px; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing:4px;
line-height: 3px;

}
.nav1 a:hover{ 
  /* background-color: brown; */
  border-bottom: solid 2px brown;
  transition: 0.5s;
  /* border-radius: 5px; */
  
   /* outline-color: 11px solid rgb(3, 2, 38) ; */
}

.nav2 {display: none;}

    
  }
