* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

 main{height: 100vh;
background-color: aquamarine;}
    header{height: 200px;}
    


    .content{
    margin: 110px;  
    height: 99vh;
display: grid;

grid-template-columns: repeat(4,1fr);
grid-template-rows:auto;
background-color: black;
/* grid-gap: 10px; */
justify-content: space-between;
gap:3em
}
.tajeta{
  height: 120%;
    display: flex;
    background-color: rgb(190, 14, 14);}
  

