* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    header{}
  main{
    margin: 0;  
    height: 99vh;
display: grid;

grid-template-columns: 80%;
grid-template-rows: 1fr 1fr 1fr 1fr;
}
.tajeta{background-color: black;}
  

