* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    header{height: 30opx;}
  main{
    /* margin: 0;   */
    height: 99vh;
display: grid;

grid-template-columns: repeat(4, 12.5%);
grid-template-rows: 300px 300px 1000px 1fr;
background-color: black;
grid-gap: 10px
}
.tajeta{
    display: flex;
    background-color: rgb(190, 14, 14);}
  

